{% extends 'base.html' %}
{% block title %}
        Agregar Empleado
{% endblock title %}

{% block content %}
{% include 'includes/header.html' %}




<
<div class="grid-container ">
  <div class="grid-x " >
    <h1 class = "cell">Agregar Empleado </h1>
     <h1></h1>
    
     <div class="callout">
            
         <form class = "cell grid-x grid-margin-x" method="POST" enctype="multipart/form-data">{% csrf_token %}

         <div class="medium-6 cell">
           <label>Nombre
               {{form.first_name}}
           </label>
         </div>

         <div class="medium-6 cell">
           <label>Apellido
             {{form.last_name}}
           </label>
         </div>

         <div class="medium-6 cell">
          <label>Trabajo
              {{form.job}}
          </label>
      </div>

         <div class="medium-6 cell">
             <label>Departamento
                 {{form.departamento}}
             </label>
         </div>

         <div class="medium-6 cell">
             <label>Habilidades
                 {{form.habilidades}}
             </label>
         </div> 
         
         <div class="medium-6 cell">
           <label>Foto
               {{form.avatar}}
           </label>
       </div>    
   
  



   <div class= "cell">  

    
     
     <button type="submit" class="success button">Agregar Empleado</button>   
     
     
   </div>
 </form>


{% endblock content %}

<form method="POST">{% csrf_token %}

  {{form.as_p}}
  <button type="submit">Agregar</button>

</form>

