{% extends 'base.html' %}

{% load static %}

{% block title %}

Empleado {{empleado.first_name}}
{% endblock title %}


{% block content %}
{% include 'includes/header.html' %}

<div class="grid-container">
   <div>
    
   </div>
   <div class="grid-x align-center">
    <div class="cell large-12 card" style="width: 300px;">
      <div class="card-divider">
        {{empleado.get_job_display}}
      </div>
      {% if empleado.avatar %}
         <img src="{{empleado.avatar.url}}">
      {% else %}
         <img src="{% static 'img/01.jpg' %}">
      {% endif %}
      
      <div class="card-section">
        <td>{{ empleado.first_name }}</td>
        <td>{{ empleado.last_name }}</td>
        <p><td>{{empleado.departamento.shor_name}}</td></p>
        <p><span class="label">Habilidades: </span> </p>
        <ul class="vertical menu">  
          
          {% for h in empleado.habilidades.all %}
            <li>{{h.habilidad}}</li>
          {% endfor %}
            
        </ul>
        
      </div>
    </div>



    <div>

      <h1>Info de Empleado</h1>
        <div class="cell">
            <table>
              <thead>
                <tr>
                  
                  <th width="150">NOMBRE</th>
                  <th width="150">APELLIDO</th>
                  <th width="150">DEPARTAMENTO</th>
                  <th width="150">HABILIDADES</th>
                  
                </tr>
              </thead>

                <tbody>
                     
                    <tr>
                        
                        <td>{{ empleado.first_name }}</td>
                        <td>{{ empleado.last_name }}</td>
                        <td>{{empleado.departamento}}</td>
                        <td>{{empleado.habilidades}}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
   </div>
</div>
</div>


{% endblock content %}

<h3>Todos los datos</h3>

<p>{{ empleado.first_name }}</p>
<p>{{ empleado.last_name }}</p>
<p>{{empleado.departamento}}</p>
<p>{{empleado.habilidades}}</p>

